/* 
    Created on : 03-jun-2018, 1:14:48
    Author     : Tobias
*/
body
{
    font-family: Calibri, Arial;
    font-size: 18px;
}

.error
{
    color: orange;
    font-weight: bold;
}

.list
{
    display: flex;
    flex-direction: column;
}

.listContainer
{
    display: inline-flex;
    flex-direction: row;
}

.listItem
{
    padding: 5px 10px;
}